.home {
    font-family: "Merriweather";
    font-weight: 300px;
    font-style: normal;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}